*.zip
.DS_Store
__pycache__/
*.pyc
ManasBhole_Capstone Project-I_ for day 1/Capstone Project - I
ManasBhole_Capstone_Project-I_Day4
ManasBhole_capstone project_for day 2 & 3
capstone_project
old capstone/Capstone Project - I
